.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  input {
    padding: 8px;
    border-radius: 8px;
    border: solid 1px black;

    &:focus {
      outline: none;
      border: solid 1px gray;
    }
  }
  label {
    cursor: pointer;
    width: fit-content;
  }
}
